<% layout('layouts/boilerplate')%>
<!-- This whole content will be passed to boilerplate file as body. -->
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-md-6 offset-md-3">
        <!-- novalidate doesn't allow browser to validate itself and hence validation is done using Bootstrap -->
        <form action="/campgrounds" method="POST" novalidate class="check-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <!-- Title will be available using req.body.campground.title -->
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <!-- This will add a cute little text 'Valid!' after checking the fields. -->
                <div class="valid-feedback">
                    Valid!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    Valid!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">&#8377;</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="campground[price]" required>
                    <div class="valid-feedback">
                        Valid!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
                <div class="valid-feedback">
                    Valid!
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload Image(s)</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
        </form>
        <a href="/campgrounds">All Campgrounds</a>
    </div>
</div>